Repository jonasehrlich/debug-tree: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, check-frontend-api-types

prettier:
  name: format js
  entry: npm run fmt:files
  language: system
  pass_filenames: true

check-frontend-api-types:
  name: check frontend API types
  entry: npm run api:create
  language: system
  pass_filenames: false

feat(backend): make git repo a positional arg
  backend/app/src/main.rs
  package-lock.json
Due: prettier

docs: adapt for new cli
  backend/app/src/main.rs
  docs/dev/index.md
Due: prettier

fix(app): Delay browser opening until after TCP bind
  backend/app/src/main.rs
  backend/app/src/web.rs
Due: none

build(frontend): Add prettier-plugin-tailwindcss
  .prettierrc
  frontend/src/components/app-menubar.tsx
  frontend/src/components/async-combobox.tsx
  frontend/src/components/badge-group.tsx
  frontend/src/components/base-handle.tsx
  frontend/src/components/base-node.tsx
  frontend/src/components/button-group.tsx
  frontend/src/components/diff-viewer/file.tsx
  frontend/src/components/diff-viewer/index.tsx
  frontend/src/components/diff-viewer/unfold.tsx
  frontend/src/components/file-tree/display.tsx
  frontend/src/components/file-tree/index.tsx
  frontend/src/components/filterable-scroll-area.tsx
  frontend/src/components/flows-dialog.tsx
  frontend/src/components/gh-tabs.tsx
  frontend/src/components/git-dialog.tsx
  frontend/src/components/git-revision.tsx
  frontend/src/components/git-revisions-panel.tsx
  frontend/src/components/git-stats.tsx
  frontend/src/components/git-status-card.tsx
  frontend/src/components/help-dialog.tsx
  frontend/src/components/icon-input.tsx
  frontend/src/components/markdown-preview-textarea.tsx
  frontend/src/components/node-form.tsx
  frontend/src/components/select-trigger-icon.tsx
  frontend/src/components/sliding-panel.tsx
  package-lock.json
  package.json
Due: prettier

feat(backend): Extend Git status API
  backend/app/src/actors/git.rs
  backend/app/src/web/api/v1/git.rs
  backend/git2-ox/src/lib.rs
  backend/git2-ox/src/repository.rs
  backend/git2-ox/src/status.rs
  backend/git2-ox/tests/common/mod.rs
  backend/git2-ox/tests/test_git_status.rs
  frontend/src/types/api.ts
Due: prettier, check-frontend-api-types

fix(reference): Ignore stash reference when creating references map
  backend/git2-ox/src/reference.rs
Due: none

feat(backend): Implement git status watcher
  Cargo.lock
  backend/app/Cargo.toml
  backend/app/src/fswatcher.rs
  backend/app/src/lib.rs
  backend/app/src/web.rs
  backend/app/src/web/api/v1/git.rs
  backend/git2-ox/src/status.rs
Due: check-frontend-api-types

feat(frontend): Implement git status bar
  frontend/src/App.tsx
  frontend/src/client.ts
  frontend/src/components/action-button.tsx
  frontend/src/components/status-bar.tsx
  frontend/src/types/api-types.ts
Due: prettier

feat(frontend): Implement reconnecting event stream and useEventStream hook
  frontend/src/components/status-bar.tsx
  frontend/src/hooks/use-event-stream.ts
  frontend/src/lib/sse.ts
Due: prettier

Improve event logging and filter status events
  backend/app/src/fswatcher.rs
  backend/app/src/web.rs
  backend/app/src/web/api/v1/git.rs
  backend/git2-ox/src/commit.rs
  backend/git2-ox/src/reference.rs
  backend/git2-ox/src/status.rs
  frontend/src/components/status-bar.tsx
Due: prettier, check-frontend-api-types

feat(frontend): Add typesafe event source
  frontend/src/components/status-bar.tsx
  frontend/src/lib/sse.ts
Due: prettier

feat(git-status-sse): Send event when stream is opened
  backend/app/src/web/api/v1/git.rs
  frontend/src/components/status-bar.tsx
Due: prettier, check-frontend-api-types

Path conditions:
  prettier: any of: \.(js|ts|jsx|tsx|vue|css|scss|less|md|html|json|yaml|yml)$
  check-frontend-api-types: any of: ^backend/app/src/web/api/.*\.rs$
