Repository jonasehrlich/debug-tree: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, check-frontend-api-types

prettier:
  name: format js
  entry: npm run fmt:files
  language: system
  pass_filenames: true

check-frontend-api-types:
  name: check frontend API types
  entry: npm run api:create
  language: system
  pass_filenames: false

feat(git-dialog): Move commit times to hover dialog
  frontend/src/components/git-dialog.tsx
Due: prettier

feat(copy-button): Allow custom tooltip
  frontend/src/components/action-button.tsx
Due: prettier

feat(api): Add list references API
  Cargo.lock
  backend/app/Cargo.toml
  backend/app/src/web/api/v1/git.rs
  frontend/src/types/api.ts
Due: prettier, check-frontend-api-types

feat(git-dialog): Add badges for references
  frontend/src/components/git-dialog.tsx
  frontend/src/components/git-reference-badge.tsx
  frontend/src/types/api-types.ts
Due: prettier

feat(backend): Add Error::from_ctx
  backend/git2-ox/src/error.rs
Due: none

feat(backend): Add CommitWithReferences type
  backend/app/src/actors/git.rs
  backend/app/src/web/api/v1/git.rs
  backend/git2-ox/src/commit.rs
  backend/git2-ox/src/lib.rs
  backend/git2-ox/src/reference.rs
  backend/git2-ox/src/repository.rs
  backend/git2-ox/src/utils.rs
  backend/git2-ox/tests/test_repository.rs
  frontend/src/types/api.ts
Due: prettier, check-frontend-api-types

feat(git2-ox): Implement branch and tag iters using reference iter
  backend/app/src/actors/git.rs
  backend/git2-ox/src/branch.rs
  backend/git2-ox/src/lib.rs
  backend/git2-ox/src/reference.rs
  backend/git2-ox/src/repository.rs
  backend/git2-ox/src/tag.rs
Due: none

build: Add shadcn/ui hover-card
  frontend/src/components/ui/hover-card.tsx
  package-lock.json
  package.json
Due: prettier

fix(api): Make Optional<String> values not nullable
  backend/app/src/web/api/v1/git.rs
  frontend/src/types/api.ts
Due: prettier, check-frontend-api-types

refactor(frontend): client utility functions, API error, notify abstraction
  frontend/src/client.ts
  frontend/src/components/app-menubar.tsx
  frontend/src/components/flows-dialog.tsx
  frontend/src/components/git-dialog.tsx
  frontend/src/components/node-form.tsx
  frontend/src/lib/errors.ts
  frontend/src/lib/notify.ts
  frontend/src/store.ts
Due: prettier

chore(frontend): optional description for success toasts
  frontend/src/lib/errors.ts
  frontend/src/lib/notify.ts
Due: prettier

fix(frontend): use notify module in git dialog
  frontend/src/client.ts
  frontend/src/components/git-dialog.tsx
Due: prettier

ci: split pipelines into premerge and post merger
  .github/workflows/build-and-deploy-docs.yaml
  .github/workflows/build.yaml
  .github/workflows/check.yaml
  .github/workflows/postmerge.yaml
  .github/workflows/premerge.yaml
  .github/workflows/test.yaml
Due: prettier

ci: add a release pipeline
  .github/workflows/build.yaml
  .github/workflows/release.yaml
Due: prettier

chore: fix clippy warning
  backend/git2-ox/src/repository.rs
Due: none

build: fix windows build by using a different npm cmd
  backend/app/build.rs
Due: none

ci: only run release on tag push
  .github/workflows/release.yaml
Due: prettier

ci: fix upload binaries on release
  .github/workflows/build.yaml
  .github/workflows/release.yaml
Due: prettier

ci: rename release artifacts
  .github/workflows/build.yaml
  .github/workflows/release.yaml
Due: prettier

ci: remove redundant npm/ node check
  .github/workflows/build.yaml
Due: prettier

refactor(git2-ox): Add type alias for Reference Map
  backend/git2-ox/src/commit.rs
  backend/git2-ox/src/lib.rs
  backend/git2-ox/src/reference.rs
  backend/git2-ox/src/utils.rs
Due: none

refactor(git2-ox): Rename `CommitLike` to `CommitProperties`
  backend/app/src/actors/git.rs
  backend/git2-ox/src/commit.rs
  backend/git2-ox/src/lib.rs
  backend/git2-ox/src/utils.rs
  backend/git2-ox/tests/test_repository.rs
Due: none

feat(git2-ox): Implement ReferencesMap type
  backend/git2-ox/src/commit.rs
  backend/git2-ox/src/lib.rs
  backend/git2-ox/src/reference.rs
  backend/git2-ox/src/repository.rs
  backend/git2-ox/src/utils.rs
Due: none

feat(git2-ox): Remove references map from CommitWithReferences API
  backend/git2-ox/src/commit.rs
  backend/git2-ox/src/reference.rs
  backend/git2-ox/src/repository.rs
  backend/git2-ox/src/tag.rs
Due: none

chore(git2-ox): Move filter into Git actor
  backend/app/src/actors/git.rs
  backend/git2-ox/src/repository.rs
  backend/git2-ox/src/tag.rs
Due: none

feat(git2-ox): Add getters for diff stats
  backend/git2-ox/src/commit.rs
  backend/git2-ox/src/diff.rs
  backend/git2-ox/src/reference.rs
  frontend/src/types/api.ts
Due: prettier

test(git2-ox): References tests
  backend/git2-ox/tests/test_repository.rs
Due: none

feat(backend): pass the git repo path
  backend/app/src/flow.rs
  backend/app/src/main.rs
  backend/app/src/web.rs
Due: none

feat: automatically open browser whenn running the app
  Cargo.lock
  backend/app/Cargo.toml
  backend/app/src/main.rs
Due: none

refactor(cli): always serve, remove new project sub command
  backend/app/src/main.rs
  docs/dev/index.md
Due: prettier

fix(backend): keep the name for the debug flow dir
  backend/app/src/flow.rs
Due: none

Path conditions:
  prettier: any of: \.(js|ts|jsx|tsx|vue|css|scss|less|md|html|json|yaml|yml)$
  check-frontend-api-types: any of: ^backend/app/src/web/api/.*\.rs$
